<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live CC Generator</title>
    <style>
        body {background-color: blanchedalmond;width: 100%;height: 100vh;overflow: hidden;display: flex;justify-content: center;align-items: center;}
    </style>
</head>
<body class="main-bg">
    <div>
    <h1>Enter Number of Cards to Continue & Select Type of Card</h1>
    <div style="display: block;">
    <a href="https://live-cc-generator.vercel.app/"><p>Click Here to try again</p></a>
</div>
</div>
</body>
</html>